<ion-header translucent>
  <ion-toolbar class="exercises-toolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="volverHome()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Ejercicios</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="cargarArticulos()">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="refrescarArticulos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Cargando -->
  <div *ngIf="isLoading" class="ion-text-center ion-padding">
    <ion-spinner name="dots"></ion-spinner>
    <p>Cargando productos...</p>
  </div>

  <!-- Lista de productos -->
 <ion-list *ngIf="articulos.length > 0">
  <ion-item 
    *ngFor="let articulo of articulos" 
    lines="full" 
    class="exercise-item">
    
    <ion-avatar slot="start">
      <img [src]="articulo.imagen || 'assets/icon/image-not-available.png'" alt="Ejercicio" />
    </ion-avatar>

    <ion-label>
      {{ articulo.nombre }}
    </ion-label>

    <ion-icon 
      name="chevron-forward-outline" 
      slot="end" 
      class="icono-ir"
      (click)="verDetalleExercise(articulo.id_exercise); $event.stopPropagation()">
    </ion-icon>
  </ion-item>
</ion-list>

  <!-- Infinite scroll -->
  <ion-infinite-scroll (ionInfinite)="cargarMasArticulos($event)">
    <ion-infinite-scroll-content
      loadingSpinner="dots"
      loadingText="Cargando más...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- Sin productos -->
  <div *ngIf="articulos.length === 0 && !isLoading" class="ion-text-center ion-padding">
    <ion-text color="medium">No hay productos disponibles</ion-text>
  </div>
</ion-content>