<ion-header translucent>
  <ion-toolbar class="exercises-toolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="volverHome()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Ejercicios</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="cargarArticulos()">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="success" (click)="crearNuevoEjercicio()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content class="exercises-content ion-padding">
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="filtrarEjercicios()"
    placeholder="Buscar ejercicio"
    color="dark"
    class="custom-searchbar">
  </ion-searchbar>

  <ion-refresher slot="fixed" (ionRefresh)="refrescarArticulos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isLoading" class="custom-loader">
  <ion-spinner name="crescent" color="light"></ion-spinner>
  <p>Cargando ejercicios...</p>
</div>

<ion-list *ngIf="articulosFiltrados.length > 0" class="exercise-list" [@listStagger]>
  <ion-card *ngFor="let articulo of articulosFiltrados" class="exercise-card">
    <ion-item lines="none" (click)="verDetalleExercise(articulo.id_exercise)">
      <ion-label>
        <h2>{{ articulo.nombre }}</h2>
        <p>Categoría: {{ articulo.nombre_categoria || 'N/A' }}</p>
        <p>Tipo: {{ articulo.nombre_tipo || 'N/A' }}</p>
      </ion-label>
      <ion-avatar slot="start" [ngClass]="articulo.video ? 'video-icon-active' : 'video-icon-inactive'">
  <ion-icon name="videocam-outline"></ion-icon>
</ion-avatar>
    </ion-item>
  </ion-card>
</ion-list>

  <ion-infinite-scroll (ionInfinite)="cargarMasArticulos($event)">
    <ion-infinite-scroll-content
      loadingSpinner="dots"
      loadingText="Cargando más...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div *ngIf="!isLoading && articulosFiltrados.length === 0" class="ion-text-center ion-padding">
    <ion-text color="medium">No hay ejercicios encontrados</ion-text>
  </div>
</ion-content>
